<ion-grid class="tabla-container border-black" *ngIf="tabla">
  
  <ion-row *ngIf="cartas.length">    
    <ion-col class="tabla-col" size="3" *ngFor="let carta of cartas">
      <img class="carta" [src]="carta | carta" alt="">
      <img class="carta cartaSalida" src="../../../../assets/img/fichas/azul2.png" alt="">

      <!-- <ng-container *ngIf="cartasSalidas.includes(carta); else elseTemplate">
        <img ng class="carta cartaSalida" alt="">
      </ng-container>
      <ng-template #elseTemplate>
        <img class="carta" [src]="carta | carta" alt="">
      </ng-template> -->
      
    </ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
    <ion-col class="tabla-col" size="3">
      <img class="carta cartaSalida" [src]="1 | carta" alt="">
    </ion-col>
  </ion-row> -->
  
</ion-grid>