<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Loteria Online</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-list>
    <ion-item-divider></ion-item-divider>
    <ion-item detail (click)="verTablas()">
      <ion-label align="center">CREA TUS TABLAS DE LOTERIA</ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item detail>
      <ion-label align="center">ABRIR MESA <br> [Tu corres la baraja]</ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item detail>
      <ion-label align="center">CREA TUS TABLAS DE LOTERIA</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
